<!-- ===================== components/about-highlights.html ===================== -->
<div
  class="section-full about-area-one bg-white wow fadeIn"
  data-wow-duration="2s"
  data-wow-delay="0.6s"
>
  <div class="container">
    <div class="row m-lr0">
      <div class="col-lg-4 bg-green icon-bx-wraper left icon-box p-a0">
        <div class="icon-lg text-white">
          <a href="javascript:void(0);" class="icon-cell"
            ><i class="la la-paint-brush"></i
          ></a>
        </div>
        <div class="icon-content text-white">
          <h2 class="tilte">Special Education</h2>
          <p>
            There are many variations of passages of Lorem Ipsum typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-lg-4 bg-yellow icon-bx-wraper left icon-box p-a0">
        <div class="icon-lg text-white">
          <a href="javascript:void(0);" class="icon-cell"
            ><i class="la la-book"></i
          ></a>
        </div>
        <div class="icon-content text-white">
          <h2 class="tilte">Full Day Session</h2>
          <p>
            There are many variations of passages of Lorem Ipsum typesetting
            industry.
          </p>
        </div>
      </div>
      <div class="col-lg-4 bg-primary icon-bx-wraper left icon-box p-a0">
        <div class="icon-lg text-white">
          <a href="javascript:void(0);" class="icon-cell"
            ><i class="la la-user-circle"></i
          ></a>
        </div>
        <div class="icon-content text-white">
          <h2 class="tilte">Qualified Teachers</h2>
          <p>
            There are many variations of passages of Lorem Ipsum typesetting
            industry.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
