<!-- ===================== components/events.html ===================== -->
<div class="section-full content-inner bg-white">
  <div class="container">
    <div class="section-head text-center"><h2 class="title">Upcoming Events</h2><p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since the been when an unknown printer.</p></div>
    <div class="row">
      <div class="col-lg-12 m-b30">
        <div class="event-post event-list"><div class="event-date"><strong>09</strong><span>June</span></div><div class="dlab-post-info"><div class="dlab-post-meta"><ul><li class="post-author"><i class="la la-clock"></i> 05:00 PM</li><li class="post-tag"><i class="ti-location-pin"></i> Marmora Road</li></ul></div><div class="dlab-post-title"><h4 class="post-title"><a href="event-details.html">Things You Most Likely Didn't Know About</a></h4></div><div class="post-content"><p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since.</p></div></div><div class="dlab-post-media"><a href="event-details.html"><img src="images/events/list/pic1.jpg" alt=""></a></div></div>
      </div>
      <div class="col-lg-12 m-b30">
        <div class="event-post event-list"><div class="event-date"><strong>08</strong><span>June</span></div><div class="dlab-post-info"><div class="dlab-post-meta"><ul><li class="post-author"><i class="la la-clock"></i> 05:00 PM</li><li class="post-tag"><i class="ti-location-pin"></i> Marmora Road</li></ul></div><div class="dlab-post-title"><h4 class="post-title"><a href="event-details.html">Things You Most Likely Didn't Know About</a></h4></div><div class="post-content"><p>There are many variations of passages of Lorem Ipsum typesetting industry has been the industry's standard dummy text ever since.</p></div></div><div class="dlab-post-media"><a href="event-details.html"><img src="images/events/list/pic2.jpg" alt=""></a></div></div>
      </div>
    </div>
  </div>
</div>
