<div class="section-full bg-white content-inner-1">
          <div class="section-full bg-white content-inner">
            <div class="container">
              <div class="section-head kinder-head text-center">
                <h2 class="head-title text-primary">From the Blog</h2>
                <p>
                  We have an excellent teacher to child ratio at our
                  Kindergarten to ensure that each child receives the attention
                  he or she needs
                </p>
              </div>
              <div
                class="blog-carousel kinder-blog-area owl-carousel owl-theme dots-none sprite-nav owl-btn-center-lr"
              >
                <div class="item">
                  <div class="blog-post blog-grid kinder-blog">
                    <div class="dlab-post-media kinder-frame">
                      <a href="javascript:void(0);"
                        ><img
                          src="images/course/course1.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a href="javascript:void(0);"
                            >The Biggest Contribution Of Education Blog To
                            Humanity.</a
                          >
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Separation Tips You and your child are about to have
                          an amazing and fun...
                        </p>
                      </div>
                      <div class="dlab-post-readmore">
                        <a
                          href="javascript:void(0);"
                          title="READ MORE"
                          rel="bookmark"
                          class="btn-link"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="item">
                  <div class="blog-post blog-grid kinder-blog">
                    <div class="dlab-post-media kinder-frame">
                      <a href="javascript:void(0);"
                        ><img
                          src="images/course/course2.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a href="javascript:void(0);"
                            >The Biggest Contribution Of Education Blog To
                            Humanity.</a
                          >
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Separation Tips You and your child are about to have
                          an amazing and fun...
                        </p>
                      </div>
                      <div class="dlab-post-readmore">
                        <a
                          href="javascript:void(0);"
                          title="READ MORE"
                          rel="bookmark"
                          class="btn-link"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="item">
                  <div class="blog-post blog-grid kinder-blog">
                    <div class="dlab-post-media kinder-frame">
                      <a href="javascript:void(0);"
                        ><img
                          src="images/course/course3.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a href="javascript:void(0);"
                            >The Biggest Contribution Of Education Blog To
                            Humanity.</a
                          >
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Separation Tips You and your child are about to have
                          an amazing and fun...
                        </p>
                      </div>
                      <div class="dlab-post-readmore">
                        <a
                          href="javascript:void(0);"
                          title="READ MORE"
                          rel="bookmark"
                          class="btn-link"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                 <div class="item">
                  <div class="blog-post blog-grid kinder-blog">
                    <div class="dlab-post-media kinder-frame">
                      <a href="javascript:void(0);"
                        ><img
                          src="images/course/course4.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a href="javascript:void(0);"
                            >The Biggest Contribution Of Education Blog To
                            Humanity.</a
                          >
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Separation Tips You and your child are about to have
                          an amazing and fun...
                        </p>
                      </div>
                      <div class="dlab-post-readmore">
                        <a
                          href="javascript:void(0);"
                          title="READ MORE"
                          rel="bookmark"
                          class="btn-link"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="blog-post blog-grid kinder-blog">
                    <div class="dlab-post-media kinder-frame">
                      <a href="javascript:void(0);"
                        ><img
                          src="images/course/course6.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a href="javascript:void(0);"
                            >The Truth About Education Blog Is About To Be
                            Revealed.</a
                          >
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Separation Tips You and your child are about to have
                          an amazing and fun...
                        </p>
                      </div>
                      <div class="dlab-post-readmore">
                        <a
                          href="javascript:void(0);"
                          title="READ MORE"
                          rel="bookmark"
                          class="btn-link"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="blog-post blog-grid kinder-blog">
                    <div class="dlab-post-media kinder-frame">
                      <a href="javascript:void(0);"
                        ><img
                          src="images/course/course5.png"
                          alt=""
                      /></a>
                    </div>
                    <div class="dlab-info">
                      <div class="dlab-post-title">
                        <h4 class="post-title">
                          <a href="javascript:void(0);"
                            >Five Reasons Why People Like Education Blog.</a
                          >
                        </h4>
                      </div>
                      <div class="dlab-post-text">
                        <p>
                          Separation Tips You and your child are about to have
                          an amazing and fun...
                        </p>
                      </div>
                      <div class="dlab-post-readmore">
                        <a
                          href="javascript:void(0);"
                          title="READ MORE"
                          rel="bookmark"
                          class="btn-link"
                          >Read More</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>