<!-- ===================== components/goals-counters.html ===================== -->
<div
  class="section-full text-white bg-img-fix content-inner overlay-black-dark counter-staus-box style-1"
  style="background-image: url(images/newphotos/goal2.png)"
>
  <div class="container">
    <div class="section-head text-center">
      <h2 class="title">About The University of Brest</h2>
      <h5 class="title-small">
        European University of Modern Sciences – shining for the year 2022/2023
      </h5>
      <p class="m-auto" style="max-width: 900px">
        At Brest, we conduct impactful research that drives technological
        breakthroughs and helps build a safer, healthier future. Our faculty and
        students develop energy solutions, enhance national security, and expand
        our understanding of history and culture.
      </p>
    </div>

    <div class="row">
      <!-- 1 -->
      <div
        class="col-lg-2 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5"
        data-wow-duration="2s"
        data-wow-delay="0.2s"
      >
        <div class="icon-bx-wraper center">
          <div class="icon-lg m-b5">
            <span class="icon-cell text-yellow"
              ><i class="la la-book-open"></i
            ></span>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte counter text-primary">200</h2>
            <p>Undergraduate Programs</p>
          </div>
        </div>
      </div>

      <!-- 2 -->
      <div
        class="col-lg-2 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5"
        data-wow-duration="2s"
        data-wow-delay="0.3s"
      >
        <div class="icon-bx-wraper center">
          <div class="icon-lg m-b5">
            <span class="icon-cell text-green"
              ><i class="la la-graduation-cap"></i
            ></span>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte counter text-primary">275</h2>
            <p>Graduate Programs</p>
          </div>
        </div>
      </div>

      <!-- 3 -->
      <div
        class="col-lg-2 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5"
        data-wow-duration="2s"
        data-wow-delay="0.4s"
      >
        <div class="icon-bx-wraper center">
          <div class="icon-lg m-b5">
            <span class="icon-cell text-red"><i class="la la-users"></i></span>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte counter text-primary">40000</h2>
            <p>Students from 156 Countries</p>
          </div>
        </div>
      </div>

      <!-- 4 -->
      <div
        class="col-lg-2 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5"
        data-wow-duration="2s"
        data-wow-delay="0.5s"
      >
        <div class="icon-bx-wraper center">
          <div class="icon-lg m-b5">
            <span class="icon-cell text-blue"><i class="la la-globe"></i></span>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte counter text-primary">80000</h2>
            <p>Alumni in 140 Countries</p>
          </div>
        </div>
      </div>

      <!-- 5 -->
      <div
        class="col-lg-2 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5"
        data-wow-duration="2s"
        data-wow-delay="0.6s"
      >
        <div class="icon-bx-wraper center">
          <div class="icon-lg m-b5">
            <span class="icon-cell text-yellow"
              ><i class="la la-flask"></i
            ></span>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte counter text-primary">10</h2>
            <p>Research Centers & Institutes</p>
          </div>
        </div>
      </div>

      <!-- 6 -->
      <div
        class="col-lg-2 col-md-4 col-sm-6 col-6 m-b30 wow fadeInUp counter-style-5"
        data-wow-duration="2s"
        data-wow-delay="0.7s"
      >
        <div class="icon-bx-wraper center">
          <div class="icon-lg m-b5">
            <span class="icon-cell text-green"
              ><i class="la la-award"></i
            ></span>
          </div>
          <div class="icon-content">
            <h2 class="dlab-tilte counter text-primary">12</h2>
            <p>Research Chairs</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
